.contact{
    background: rgb(118, 116, 141);
    padding:50px;
    background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperbro.com%2Fimg%2F489935.png&f=1&nofb=1");
}
.foot{
    height:0px
}

.contact-form{
    align-content: center;

}

input,textarea,.contact-title{
    margin-left:15%;
    padding-right:60%;
}
.submit{
    margin-top:10px;
    margin-left:15%;
}