.badges{
    height:250px;
    background:rgb(118, 116, 141);
    width:250px;
    padding:10px;
    border-radius:25px;
    transition-duration:.5s;
    text-align:center;

}
.cards{
    width:100%
}
.title{}

.badges:hover{

    border-radius:50px;
    background-color:rgb(48, 48, 48);


}

@keyframes extend{
        to{}
    
}