a{
    text-underline-position:initial;
    color:rgb(127, 40, 145);
    text-align: center;
}
<<<<<<< HEAD
.projectImage{
    border-radius:10px;
    height:100%;
    /* background:orange; */
    padding:0px;
    margin-top: 20px;
}

.projectDiv{
    background-color: rgb(240, 240, 240);
    border-radius:10px
}
.row{
    padding:30px
}

hr{
    width:90%
}
.info{
    padding-bottom: 10px;
}


@media (max-width: 1000px){
    .projectImage{
        margin-left:10px;
        margin-right:10px;
        margin-top:5px
    }
}
=======
.projects{
    transition-duration:.5s;
    /* opacity: .5; */
}
.projects:hover{
    border-radius:50px;
    background-color:rgb(49, 49, 49);
    z-index: -2;
    opacity: .2;
}
>>>>>>> parent of 2d2e7a6... added description and removed features
