a{
    text-underline-position:initial;
    color:rgb(127, 40, 145);
    text-align: center;
}
.projectImage{
    border-radius:10px;
    height:100%;
    /* background:orange; */
    padding:0px;
    margin-top: 20px;
}

.projectDiv{
    background-color: rgb(240, 240, 240);
    border-radius:10px
}
.row{
    padding:30px
}

hr{
    width:90%
}
.info{
    padding-bottom: 10px;
}


@media (max-width: 1000px){
    .projectImage{
        margin-left:10px;
        margin-right:10px;
        margin-top:5px
    }
}
