.bio{
    font-size:23px;
    background:rgb(118, 116, 141);
    border-radius:20px;
    width:100%;
    padding:10px;
    margin:auto;
    height:;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photo{
    height:100%;
    border-radius:20px;
}
.photo:hover{

}
.photoD{
    height:50%
}
