.button{
    border-radius: 20px;
    border-width: 3px;
    background-color: white;
    color:rgb(124, 1, 1);
    border-color: rgb(124, 1, 1);
    margin-right:10px;
    margin-left:10px;
}

.button:hover{
    background:rgb(124, 1, 1);
    border-color: rgb(124, 1, 1);
}