.infoBox{
    height:0px;
    animation-name:info;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
}

@keyframes info{
    from{
        height:0px;
    }
    to{
        height:150px;
    }
}
